
# File types
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store 

# Directories
data_provided/PacFIN/*
data_provided/wcgop
mkscratch


# SS3 files
admodel.cov
admodel.dep
admodel.hes
*.sso
*.png
*.ss_new
*.tmp
console.output.txt
fmin.log
gradient.*
ss3.bar
ss.bar
ss3.ecm
ss.ecm
ss3.eva
ss.eva
ss3.exe
ss.exe
*.exe
ss3.log
ss3.mc2
ss3.mcm
ss3.b0*
ss3.p0*
ss3.r0*
ss.r0*
ss.b0*
ss.p0*
ss3.rep
ss.rep
ss3.std
ss.std
suggested_tuning.ss
runnumber.ss

